/* cadastro e login*/


.containerAcesso {
    justify-content: center;
    align-self: center;
    height: 100vh;
    display: flex;
}

row {
    border-radius: 15px;
}

.boxLogin {
    background-color: var(--primary);
}