body,
html {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  /* background: url(../assets/footer-bg.png) no-repeat center bottom; */
  padding-bottom: 400px;
}