<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="../assets/css/main.css" />

    <title>Marketing Website</title>
</head>

<body>
    <!--HEADER-->
    <header>
        <div id="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                    <a class="navbar-brand" href="./home.html">
                        <img src="../assets/images/logo.svg" class="img-fluid" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="../login/index.php">locais</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../cadastro/index.php">horários</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./calendario.html">calendário</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">contatos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">normas</a>
                            </li>
                            <div class="selector-area">
                                <!-- Seletor ano -->
                                <span id="input-select" class="input-select">1A<span><img
                                            src="../assets/images/seta-select.svg" alt="seta"></span></span>
                                <!-- TODO: ESTILIZAR OPÇÕES -->
                                <div id="btn-options" class="hide">
                                    <ul>
                                        <">1A</li>
                                            <li>1B</li>
                                            <li>1H</li>
                                            <li>2A</li>
                                            <li>2B</li>
                                            <li>2H</li>
                                            <li>3A</li>
                                            <li>3B</li>
                                            <li>3H</li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--HEADER-->
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/magnify/jquery.magnific-popup.min.js"></script>
    <script src="js/main.js"></script>
    <script src="../js/selectBtn.js"></script>
</body>

</html>