/* cadastro e login*/

.containerAcesso {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.buttons {
    text-transform: uppercase;
    max-width: 200px;
    width: 50%;
    background-color: black;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 1.2em;
    outline: none;
}

.buttons:hover {
    background-color: #111111;
}

.buttons:active {
    position: relative;
    top: 1px;
}

.buttonss {
    text-transform: uppercase;
    max-width: 200px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 1.2em;
    outline: none;
    border: 1px solid black;
}

.buttonss:hover {
    background-color: #f7f4f4;
}

.buttonss:active {
    position: relative;
    top: 1px;
}


.input {
    min-width: 280px;
    border-radius: 22px;
    border: 2px #0c0c0c solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input input {
    width: 80%;
    border: none;
    outline: none;
    transform: translateY(-10%);
    color: #0c0c0c;
    font-size: 11pt;
    background: none;
}


.input i {
    font-size: 1.2em;
    padding: 5px;
}

.session-acesso {
    text-transform: uppercase;
    color: red;
    font-weight: 500;
}