/* cadastro e login*/

.containerAcesso {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerForm {
    display: flex;
    align-items: center;
}

.container h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.buttons {
    text-transform: uppercase;
    background-color: black;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 14px !important;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 1.2em;
    outline: none;
}

.buttons:hover {
    background-color: #111111;
}

.buttons:active {
    position: relative;
    top: 1px;
}

.input {
    max-width: 311px;
    border-radius: 22px;
    border: 2px #0c0c0c solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input input {
    width: 80%;
    border: none;
    outline: none;
    transform: translateY(-10%);
    color: #0c0c0c;
    font-size: 11pt;
    background: none;
}


.input i {
    font-size: 1.2em;
    padding: 5px;
}

.session-acesso {
    text-transform: uppercase;
    color: red;
    font-weight: 500;
}