.fotouser::-webkit-file-upload-button {
  visibility: hidden;

}

.fotouser::before {
  content: 'escolha sua foto de perfil';
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 5px 8px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  margin: 0px 0px 7px 2px;
  font-size: 15px;
}

.fotouser:hover::before {
  border-color: black;
}

.fotouser:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.input-file {
  margin-bottom: 15px;
}