body,
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #F8F0E3;
}

.back-button {
  margin-bottom: 25px;
  font-size: 20px;
  text-transform: uppercase;
}

.table-button {
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

table th {
  text-transform: uppercase;
}

.nav-button {
  font-size: 20px;
  text-transform: uppercase;
 }