body,
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #F8F0E3;
}

body {
  /* background: url(../assets/footer-bg.png) no-repeat center bottom; */
}