#header {
    width: 100%;
    background-color: transparent;
}

.navbar {
    justify-content: space-between;
}

#header .container {
    border-bottom: solid 4px black;
    margin-bottom: 50px;
}

#header.active {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
}


#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: var(--tertiary);
    border-bottom: solid 3px transparent;
    margin-left: 30px;
}

#header .nav-link:hover {
    border-bottom: solid 3px var(--tertiary-light);
    color: var(--tertiary-light);
}