/* HEADER ICONS */

.nav-home-image {
    height: 50px;
    width: 50px;
}

.principal-area {
    display: flex;
    margin-top: 100px;
}

.principal-area {
    display: flex;
    margin-top: 50px;
}

.principal-area .funcao {
    margin-Right: 25px;
}

.principal-area .funcao-imagem {
    justify-content: center;
    height: 120px;
    width: 120px;
}

.principal-area p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.locais {
    height: 170px;
    width: 170px;
    background: #DDD;
    border-radius: 15px;
    margin-left: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locais a {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
}

.locais img {
    height: 110px;
    width: 110 px;

}