.geral {
    width: 100%;
}

.areas {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.containerFormMaior input {
    width:98%;
}   
.botoes {
    padding-right: 100px;
    width: 100%;
}

.video {
    padding-left: 100px;
    border-left: 3px solid black;
    height: 400px;
}

.local-button {
    margin-bottom: 20px;
    font-size: 25px;
    text-transform: uppercase;
}


.local-button-locais {
    margin-bottom: 20px;
    font-size: 25px;
    text-transform: uppercase;
    width: 100%;
}

.geral-locais {
    display: flex;
    justify-content: space-between;
}

.search-area {
    display: flex;
    flex-direction: row;
}

.search-area form{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 65%;
}
.search-area form input{
margin-right: 15px;
} 

.locais-area {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.locais-area div {
    width: 45%;
}